{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}
    <h1>{{ products.count }} Product{{ products.count|pluralize }}</h1>

    {% for product in products %}
        <h2>{{ product.quantity }} {{ product.name }}{{ product.quantity|pluralize }}</h2>
        <span>Listed on {{ product.created }}</span>
        {% if product.description %}
            <p>{{ product.description }}</p>
        {% else %}
            <p><i>No description</i></p>
        {% endif %}
    {% endfor %}
{% endblock %}